<nav class="mt-8">
  <br />
  <h3>Button Series Navigation</h3>
  <ul>
    <li><a href="/blog/2022/03/how-to-make-a-button-intro/">Part 1 - Overview</a></li>
    <li><a href="/blog/2022/03/how-to-make-a-button-normalisation/">Part 2 - Normalisation</a></li>
    <li><a href="/blog/2022/03/how-to-make-a-button-styling/">Part 3 - Styling</a></li>
    <li><a href="/blog/2022/03/how-to-make-a-button-customisation/">Part 4 - Customisation</a></li>
  </ul>
</nav>
