---
import { Code } from 'astro:components';

const stepOneCss = `/* define default button theme on root */
:root {
  --btn-color: #FFFFFF;
}

/* normalise base element */
.anchor-btn {
  display: inline-block;
  text-decoration: unset;
  color: var(--btn-color);
}

.button-btn {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: var(--btn-color);
}`;

const shadowCss = `${stepOneCss.replace(/:root/g, '#shadow-root')}

#shadow-root {
  --btn-color: currentColor;
}

.demo {
  padding: 16px 0;
}`;
---
<section class="code-example">
  <Code code={stepOneCss} lang="css" />
  <div class="shadow-root-container" data-shadow-root-container>
    <template>
      <style set:html={shadowCss}></style>
      <div id="shadow-root">
        <div class="demo">
          <button class="button-btn btn">&lt;button /&gt;</button>
          <span>&lt;span /&gt;</span>
          <a href="?click" class="anchor-btn btn">&lt;a /&gt;</a>
        </div>
      </div>
    </template>
  </div>
</section>

<script is:inline>
  document.querySelectorAll('[data-shadow-root-container]').forEach((container) => {
    if (container.shadowRoot) {
      return;
    }

    const template = container.querySelector('template');
    const shadowRoot = container.attachShadow({ mode: 'open', delegatesFocus: true });
    shadowRoot.append(template.content.cloneNode(true));
    template.remove();
  });
</script>

<style>
  .code-example {
    position: relative;
  }

  .code-example::after {
    border: 1px solid #333;
    content: '';
    height: 100%;
    left: -1rem;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: calc(100% + 2rem);
  }

  .shadow-root-container {
    display: block;
  }
</style>
