---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('posts');

  return posts.map((post) => ({
    params: { slug: post.id.replace(/\/index$/, '') },
    props: { post }
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---
<BaseLayout title={post.data.title}>
  <article>
    <h2>{post.data.title}</h2>
    <small>{post.data.date.toDateString()}</small>
    <Content />
  </article>
</BaseLayout>
